<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>Hello, vue :)</h1>

    <div id="app">
      <div v-if="showBooks">
        <ul>
          <li v-for="book in filteredBooks" :class="{ fav: book.isFav }" :key="book.id" @click="toggleFav(book)">
            <img :src="book.cover" :alt="book.title" />
            <h3>{{ book.title }}</h3>
            <p>{{ book.author }}</p>
          </li>
        </ul>
      </div>

      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide books</span>
        <span v-else>Show books</span>
      </button>

      <div v-show="showBooks">
        <p>Currently showing books</p>
      </div>

      <div class="box" @mouseover="handleEvent($event, 5)">Mouseover</div>
      <div class="box" @mouseleave="handleEvent">Mouseleave</div>
      <div class="box" @dblclick="handleEvent">Double click</div>
      <div class="box" @mousemove="handleEvent">x: {{ x }} - y: {{ y }}</div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
